<nav class="navbar navbar-default banner" ng-controller="BannerController as vm">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Eventurist</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-form navbar-left">
        <form role="search">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.chosenPlace" placeDetails="chosenPlaceDetails"
                 callback="vm.changeLocation" filter="vm.filters" placeholder="Enter A Location" googleautocomplete/>
          </div>
        </form>
      </div>
      <div class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-default navbar-btn" ng-hide="vm.isLoggedIn()" ng-click="vm.openSignupModal()">
          Sign Up
        </button>
        <button type="button" class="btn btn-primary navbar-btn" ng-hide="vm.isLoggedIn()" ng-click="vm.openLoginModal()">
          Login
        </button>
        <button type="button" class="btn btn-primary navbar-btn" ng-show="vm.isLoggedIn()" ng-click="vm.logout()">
          Logout
        </button>
        <button type="button" ng-click="vm.openCreateEventModal()" class="btn btn-success navbar-btn" ng-show="vm.isLoggedIn()">Create Event</button>
        <button type="button" ng-click="vm.openSignupModal()" class="btn btn-success navbar-btn" ng-hide="vm.isLoggedIn()">Create Event</button>
        </ul>
      </div>
    </div>
</nav>
