<div class="arrow-group event-page-vote">
  <button ng-if="vm.isLoggedIn()" type="button" ng-click="vm.upvoteEvent()" class="btn btn-link btn" style="outline:none">
    <span class="glyphicon glyphicon-chevron-up event-page-up" ng-style="vm.upArrowStyle" aria-hidden="true"></span>
  </button>
  <button ng-if="!vm.isLoggedIn()" type="button" disabled="disabled" class="btn btn-link btn" style="outline:none">
    <span class="glyphicon glyphicon-chevron-up event-page-up" ng-style="vm.upArrowStyle" aria-hidden="true"></span>
  </button>
  <div class="vote-value event-page-vote-value"> {{vm.vote}}</div>
  <button ng-if="vm.isLoggedIn()" type="button" ng-click="vm.downvoteEvent()" class="btn btn-link btn" style="outline:none">
    <span class="glyphicon glyphicon-chevron-down event-page-down" ng-style="vm.downArrowStyle" aria-hidden="true"></span>
  </button>
  <button ng-if="!vm.isLoggedIn()" type="button" disabled="disabled" class="btn btn-link btn" style="outline:none">
    <span class="glyphicon glyphicon-chevron-down event-page-down" ng-style="vm.downArrowStyle" aria-hidden="true"></span>
  </button>
</div>
