<banner></banner>
<div class="pane">
  <div class="left-pane" ng-controller="LeftPanelController as vm">
      <div class="search-area panel panel-info">
        <div class="panel-body">
          <form role="form" ng-submit="vm.updateKeywords()">
            <div class="input-group input-group-sm search-area-input-margin" style="width:99%">
              <input type="text" class="form-control" aria-describedby="wordsAddon"
                     ng-model="vm.searchKeywords" placeholder="Search">
              <span class="input-group-addon btn-primary" style="width:10%;cursor:pointer;" ng-click="vm.updateKeywords()">
                <span class="glyphicon glyphicon-search btn-primary" aria-hidden="true"></span>
              </span>
            </div>
          </form>
          <!-- This is the code for the datepickers that we didnt want to remove
          <div class="input-group input-group-sm search-area-input-margin date-search-left">
            <span class="input-group-addon" id="startAddon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
            <input type="text" class="form-control search-area-input-margin read-only" ng-change="vm.updateStartDate()"
                    aria-describedby="startAddon" ng-model="vm.searchDateStart" data-autoclose="1"
                      data-max-date="{{vm.searchDateEnd}}" data-date-format="yyyy-MM-dd" readonly
                        bs-datepicker>
            <span class="input-group-addon" ng-click="vm.clearStartDate()">
              <span class="glyphicon glyphicon-remove clear-field" aria-hidden="true"></span>
            </span>
          </div>
          <div class="input-group input-group-sm search-area-input-margin date-search-right">
            <span class="input-group-addon" id="endAddon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
            <input type="text" class="form-control search-area-input-margin read-only" ng-change="vm.updateEndDate()"
                    aria-describedby="endAddon" ng-model="vm.searchDateEnd" data-autoclose="1"
                      data-min-date="{{vm.searchDateStart}}" data-date-format="yyyy-MM-dd" readonly
                        bs-datepicker>
            <span class="input-group-addon" ng-click="vm.clearEndDate()">
              <span class="glyphicon glyphicon-remove clear-field" aria-hidden="true"></span>
            </span>
          </div> -->
          <div class="input-group input-group-sm search-area-input-margin" style="width:99%">
            <span class="input-group-addon" style="background-color:#fafafa;"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></span>
            <tags-input class="bootstrap" data-ng-model="vm.addedTags" display-property="name" add-on-space="true" placeholder="New Tag"
                add-on-enter="true" min-length="1" max-length="50" on-tag-added="vm.updateTags()" on-tag-removed="vm.updateTags()">
            </tags-input>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a><strong style="color:$secondary-color;text-align:center;">Popular Tags</strong> (click to add)</a></li>
                <li class="divider"></li>
                <li ng-repeat="tag in vm.popularTags" style="cursor:pointer;" ng-click="vm.addPopularTag(tag)"><a>{{ tag.name }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="events-area panel panel-primary">
        <div class="panel-body" ng-style="vm.loadingBlurStyle">
          <div ng-show="vm.loading">
            <loading event-modal-loader="false" auth-modal-loader="false" event-card-loader="true"></loading>
          </div>
          <eventcard ng-repeat="event in vm.getEvents()"
                     ng-class-even="'event-card-color'"
                     ng-class-odd="'event-card-color-alternate'"
                     event-name="event.name"
                     event-id="event.id"
                     description="event.description"
                     creator="event.creator"
                     creation-date="event.create_date"
                     start-date="event.start_date"
                     end-date="event.end_date"
                     place-id="event.place_id"
                     place-name="event.place_name"
                     vote="event.vote"
                     report="event.report"
                     tags="event.tags"
                     edit-date="event.edit_date"
                     picture="event.picture"
                     vote-direction-by-user="{{vm.getVoteDirection(event)}}"
                     event-saved="{{vm.savedByUser(event)}}"
                     event-reported="{{vm.reportedByUser(event)}}"></eventcard>
        </div>
      </div>
      <div class="faded-scroller"></div>
  </div>
  <ng-include src="'scripts/calendar/calendar.html'"></ng-include>
</div>
