<banner></banner>
<div class="pane">
  <div class="left-pane" ng-controller="LeftPanelController as vm">
    <div class="media" style="margin:10px">
      <button type="button" ng-click="vm.searchEvents()" class="btn btn-primary">Search Events</button>
      <button type="button" ng-click="vm.openCreateEventModal()" class="btn btn-primary">Create Events</button>
      <eventcard ng-repeat="event in vm.events"
                 title="event.name"
                 event-id="event.id"
                 description="event.description"
                 creator="event.creator"
                 creation-date="event.create_date"
                 start-date="event.start_date"
                 end-date="event.end_date"
                 location="event.place_id"
                 vote="event.vote"
                 report="event.report"></eventcard>
    </div>
  </div>
  <div class="right-pane" ng-controller="CalendarController as vm">
    <div ui-calendar ng-model="eventSources"></div>
  </div>
</div>
