.footer {
  min-height: 10px;
  background-color: white;
}

.pane {
  top: 60px;
  bottom: 10px;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
}

.left-pane {
  float: left;
  width: 50%;
  background-color: #ffffff;
  height: 100%;
}

.right-pane {
  float: right;
  width: 50%;
  background-color: #ffffff;
  height: 100%;
}

.search-area {
  float: top;
  width: 95%;
  margin-left: 10px;
  border:0;
  background:#FAFAFA;
}

.search-area-input-margin {
  margin-bottom: 5px;
  margin-right: 5px;
}

.events-area {
  width: 95%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  margin-left: 10px;
  overflow-y: scroll;
  border:0;
  background:#FAFAFA;
}

.event-card-panel{
  float: top;
  background:#FFF;
}

.event-card-panel:hover{
  float: top;
  background:#FBFBFB;
}

.event-card{
  margin-top:5px;
}

.add-opacity {
  opacity: 0.6;
}

.apply-filters {
   float:right;
   margin-right:10px;
}

.full-height {
  height: 100%;
  min-height: 100%;
}

.panel-height {
  height: 75%;
}

.date-search-left {
  width:49.25%;
  float:left;
}

.date-search-right {
  width:49.25%;
}

.float-left {
  float:left;
}

.margin-left-three {
  margin-left:3px;
}

.margin-right-two {
  margin-right:2px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.arrow-group {
  float: left;
  margin-right: 20px;
}

.picture-group {
  float: left;
  margin-right: 20px;
}

.vote-value {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  color:#9BA5B3;
}

.event-name {
  color:#405D87;
}

.event-details {
  font-size: 13px;
  color: #5B636E;
  font-weight: 450;
}

.event-creation {
  font-size: 11px;
  color: #999;
  font-weight: 250;
}

.event-picture {
  width:75px;
  height:80px;
  margin-top:2px
}

.glyphicon.glyphicon-chevron-down {
  font-size: 20px;
  color:#829CBF;
}

.glyphicon.glyphicon-chevron-up {
  font-size: 20px;
  color:#829CBF;
}

.empty {
  z-index: -10000;
}