.footer {
  min-height: 10px;
  background-color: white;
}

.left-pane {
  float: left;
  width: 50%;
  background-color: #ffffff;
  height: 100%;
}

.right-pane {
  float: right;
  width: 50%;
  background-color: #ffffff;
  height: 100%;
}
