<div class="modal-content">
  <div ng-style="eventModal.loadingBlurStyle">
    <div class="modal-header">
      <h3 class="modal-title">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          <strong>Event Information</strong>
      </h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <span class="input-group-addon" id="title-addon"></span>
            <input type="text" class="form-control" placeholder="Name" aria-describedby="title-addon" data-ng-model="eventModal.eventName">
            <span class="input-group-addon" id="title-addon"></span>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-7 right-border">
          <textarea class="form-control text-area-size" rows="7" placeholder="Description" data-ng-model="eventModal.description"></textarea>
          <hr class="reduced-hr">
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-addon" id="location-addon"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
                <input type="text" class="form-control" data-ng-model="eventModal.locationName" details="chosenPlaceDetails"
                  callback="eventModal.locationPicked" aria-describedby="location-addon" placeholder="Enter A Location" googleautocomplete/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="progress remove-bottom-margin">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="eventModal.imageProgress"
            aria-valuemin="0" aria-valuemax="100" style="width:{{eventModal.imageProgress}}%">
              {{eventModal.imageProgress}} %
            </div>
          </div>
          <div ng-if="eventModal.imageUrl">
            <div class="picture-wrap">
              <img ng-src="{{eventModal.imageUrl}}" alt="Image Not Found" class="create-picture">
              <button class="btn btn-link image-removal-button" ng-click="eventModal.removeImage()" style="outline:none">
                <span class="glyphicon glyphicon-remove shadow-removal removal-glyphicon" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div ng-if="!eventModal.imageUrl" class="picture-zone">
            <button class="btn btn-primary btn-xs upload-button" ng-file-select ng-file-change="eventModal.uploadImage($files)">
              <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Image
            </button>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-addon" id="first-date-addon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                <input type="text" class="form-control read-only center-text" data-ng-model="eventModal.startDate"
                  data-autoclose="1" aria-describedby="first-date-addon" placeholder="Start Date" readonly bs-datepicker>
                <span class="input-group-addon" id="first-time-addon">-</span>
                <input type="text" class="form-control read-only center-text" aria-describedby="first-time-addon" data-ng-model="eventModal.startDate" length="3" placeholder="Start Time" readonly bs-timepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 left-border">
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-addon" id="second-date-addon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                <input type="text" class="form-control read-only center-text" aria-describedby="second-date-addon" data-ng-model="eventModal.endDate" data-autoclose="1" placeholder="End Date" readonly bs-datepicker>
                <span class="input-group-addon" id="second-time-addon">-</span>
                <input type="text" class="form-control read-only center-text" data-ng-model="eventModal.endDate" length="3"
                  placeholder="End Time" aria-describedby="second-time-addon" readonly bs-timepicker>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></span>
        <tags-input class="bootstrap" data-ng-model="eventModal.tags" display-property="name" add-on-space="true" placeholder="New Tag"
            add-on-enter="true" min-length="1" max-length="50" on-tag-added="eventModal.verifyTags()">
        </tags-input>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a class="popular-tags-title"><strong>Popular Tags</strong> (click to add)</a></li>
            <li class="divider"></li>
            <li class="style-mouse" ng-repeat="tag in eventModal.popularTags" ng-click="eventModal.addPopularTag(tag)"><a>{{ tag.name }}</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary" ng-click="eventModal.createEvent()">Create</button>
      <button type="submit" class="right btn btn-default" ng-click="eventModal.cancel()">Cancel</button>
      <div ng-show="eventModal.loading">
        <loading event-modal-loader="true" auth-modal-loader="false" event-card-loader="false"></loading>
      </div>
    </div>
  </div>
</div>
