<banner></banner>
<div data-ng-controller="EventPageController as event">

  <div class="event-background" data-ng-style="{'background-image':'url(' + event.picture.image + ')'}"></div>

  <div class="event-page-container event-pane">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-5">
                      <div ng-if="event.picture" class="event-page-picture">
                        <img ng-src="{{event.picture.image}}" alt="Image Not Found">
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="row">
                        <h2>{{event.name}}</h2>
                      </div>
                      <div class="row">
                        {{event.startDate}} - {{event.endDate}}
                      </div>
                      <div class="row event-label-group">
                      <span class="label label-info event-label" data-ng-repeat="tag in event.tags">
                        {{tag.name}}
                      </span>
                      </div>
                      <div class="row event-username">
                        Created by {{event.username}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 event-map">
                    <map zoom="11" center="[{{event.placeName}}]">
                      <marker position="{{event.placeName}}" title="{{event.placeName}}"></marker>
                    </map>
                    <a href="https://www.google.ca/maps/place/{{event.placeName}}"><i class="fa fa-map-marker"> {{event.placeName}}</i></a>
                </div>

                <!--<div class="col-md-1">-->
                  <!--&lt;!&ndash; This section is not complete&ndash;&gt;-->
                  <!--<button ng-if="event.owns" class="btn btn-success">Edit</button>-->
                  <!--&lt;!&ndash; This section is not complete&ndash;&gt;-->
                <!--</div>-->
              </div>
            </li>
            <li class="list-group-item">
              {{event.description}}
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-6">
                  <div class="btn-group" role="group">
                    <div class="btn btn-default event-bookmark" aria-label="Left Align">
                      <i class="fa fa-bookmark"></i>
                    </div>
                    <button type="button" data-ng-click="event.saveEventClick()" class="btn btn-default btn" aria-label="Left Align">
                      {{event.saveEvent}}
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <div data-ng-controller="CommentController as comment">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="comment-box">
          <div class="comment-save-header">
            Comments
          </div>
          <div data-ng-show="comment.isLoggedIn()" class="comment-save-body">
            <form role="form">
              <div class="form-group">
                <textarea class="form-control" rows="8" id="comment-description" placeholder="Comment"
                    ng-model="comment.commentData"></textarea>
              </div>
              <a type="submit" class="btn btn-primary comment-save-submit" data-ng-click="comment.createComment()">Add Comment</a>
            </form>
          </div>
          <div data-ng-hide="comment.isLoggedIn()" class="comment-save-body">
            Please <a href="" data-ng-click="comment.openLoginModal()">login</a> to comment
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr>
        <comment comment="comment.comments"></comment>
      </div>
    </div>
  </div>

</div>
