.banner {
	height: 60px;
	background-color: $secondary-colour;
	margin-top: 0px;
	margin-bottom: 1px;
	border: none;
	width: 100%;
}

.inner-banner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.banner-buttons {
	margin-right: $banner-side-margins;
}

.banner-create-buttons {
	margin-right: 15px;
}

.logo {
  margin-left: $banner-side-margins;
  width:228px;
  height:50px;
}