.events-area {
  width: 96%;
  min-height: calc(96% - 99px);
  max-height: calc(96% - 99px);
  height: calc(96% - 99px);
  overflow-y: scroll;
  border:0;
  background: $tertiary-colour;
  margin-left: 2%;
}

.faded-scroller {
    content:'';
    margin-top: calc(-96% + 122px);
    margin-left:14px;
    margin-right:25px;
    height: 40px;
    background: linear-gradient(to bottom, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 0) 100%);
    position: relative;
}

.event-card-panel{
  float: top;
  background:inherit;
  margin-bottom:5px;
}

.event-card-panel:hover {
  background:#F6F6F6;
}

.event-card-color-alternate {
  background-color:#FDFDFD;
}

.event-card-color {
  background-color:#FFF;
}

.event-card {
  margin-top:5px;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.margin-right-two {
  margin-right:2px;
}

.arrow-group {
  float: left;
  margin-right: 20px;
}

.picture-group {
  float: left;
  margin-right: 20px;
}

.vote-value {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  color:#9BA5B3;
}

.event-name {
  color:#405D87;
}

.event-details-date {
  font-size: 13px;
  color: #5B636E;
  font-weight: 450;
}

.event-details-place {
  font-size: 11px;
  color: #5B636E;
  font-weight: 800;
}

.event-creation {
  font-size: 11px;
  color: #999;
  font-weight: 250;
}

.event-picture {
  width:75px;
  height:80px;
  margin-top:2px;
}

.glyphicon.glyphicon-chevron-down.event-card-down {
  font-size: 20px;
}

.glyphicon.glyphicon-chevron-up.event-card-up {
  font-size: 20px;
}

@keyframes blink {
    from { opacity:1; }
    to { opacity:0.2; }
};

@-webkit-keyframes blink {
    from { opacity:1; }
    to { opacity:0.2; }
};

@-moz-keyframes blink {
    from { opacity:1; }
    to { opacity:0.2; }
};

@-o-keyframes blink {
    from { opacity:1; }
    to { opacity:0.2; }
};

.event-card-blink-animation {
  -webkit-animation: blink 500ms infinite alternate;
  -moz-animation: blink 500ms infinite alternate;
  -o-animation: blink 500ms infinite alternate;
  animation: blink 500ms infinite alternate;
}