
.fc-day-circle-2 {
  color: #CCC5C5;
}

td.fc-day.fc-widget-content.fc-sun.fc-past {
  color: #CCC5C5;
}


.fc-row.fc-widget-header {
  background-color: #EEEEEE;
  border: 1px solid #FFFFFF;
}

.arrow-dir:hover {
  color: #FFFFFF;
}

.fc-day-number .fc-sat .fc-past {
  color: #CCC5C5;
}

