.search-area {
  float: top;
  width: 96%;
  height: 95px;
  margin-left: 2%;
  margin-bottom: 5px;
  border:0;
  background: $tertiary-colour;
  margin-top: $main-pane-margin-top;
}

.search-area-input-margin {
  margin-bottom: 5px;
  margin-right: 5px;
}

.search-button {
  width:10%;
  cursor:pointer;
}

.search-input-group {
  width:99%;
}

.style-mouse {
  cursor:pointer;
}

.tag-input-background {
  background-color:#fafafa;
}

.apply-filters {
   float:right;
   margin-right:10px;
}

.date-search-left {
  width:49.29%;
  float:left;
}

.date-search-right {
  width:49.28%;
}

.clear-field {
  margin-top:1.5px;
}

.read-only {
  background-color: #fff !important;
  cursor: default !important;
}

.error-style {
  color: #CC0000;
  float: left;
}

.add-opacity {
  opacity: 0.6;
}

.popular-tags-title {
  cursor: default; 
  background: #fff;
  background-image:none;
  color: $secondary-colour;
  text-align: center;
}

.popular-tags-title:hover {
  background-image: linear-gradient(#fff, #fff);
}