/////////////////////////
// Common Color Pieces //
/////////////////////////
$primary-colour: #ffffff;
$secondary-colour: #455A64;

$tertiary-colour: #eeeeee;

$loader-color: $secondary-colour;
$button-color-special: #ff9800;
$button-color-primary: $secondary-colour;
$button-color-secondary: #829cbf;
$tag-label-color: $secondary-colour;//$button-color-special;