// Teal Green Style
// $primary-colour: #49b595;
// $secondary-colour: #25886b;

// Blue Style 
// $primary-colour: #2588f7;
// $secondary-colour: #1e6abf;

// Green Style
// $primary-colour: #66c273;
// $secondary-colour: #4e9658;

// Grey Style
// $primary-colour: #dadbdf;
// $secondary-colour: #b7b8be;

// Purple Style
$primary-colour: #998099;
$secondary-colour: #8a6a8a;

$tertiary-colour: #FAFAFA;