<div class="modal-content">
  <div class="modal-header">
    <h3 ng-if="authModal.shouldShowSignUpModal" class="modal-title">
      <strong>Sign Up</strong>
    </h3>

    <h3 ng-if="!authModal.shouldShowSignUpModal" class="modal-title">
      <strong>Login</strong>
    </h3>
  </div>

  <div class="modal-body">
    <!--Sign Up Modal-->
    <form ng-if="authModal.shouldShowSignUpModal" role="form">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="username"
               ng-model="authModal.username">
      </div>
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" placeholder="First Name"
               ng-model="authModal.firstName">
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" id="last-name" placeholder="Last Name"
               ng-model="authModal.lastName">
      </div>
      <div class="form-group">
        <label for="input-email">Email</label>
        <input type="email" class="form-control" id="input-email" placeholder="email"
               ng-model="authModal.email">
      </div>
      <div class="form-group">
        <label for="input-password">Password</label>
        <input type="password" class="form-control" id="input-password" placeholder="password"
               ng-model="authModal.password">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="authModal.signUp()">Sign Up</button>
      <button type="submit" class="right btn btn-default" ng-click="authModal.cancel()">Cancel</button>
    </form>

    <!--Login Modal-->
    <form ng-if="!authModal.shouldShowSignUpModal" role="form">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="username"
               ng-model="authModal.username">
      </div>
      <div class="form-group">
        <label for="input-password">Password <a ng-href="/sessions/forgot_password">(forgot password)</a></label>
        <input type="password" class="form-control" id="input-password" placeholder="password"
               ng-model="authModal.password">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="authModal.login()">Login</button>
      <button type="submit" class="right btn btn-default" ng-click="authModal.cancel()">Cancel</button>
    </form>
  </div>
</div>
