<div class="modal-content">
  <div class="modal-header">
    <h3 ng-if="authModal.shouldShowSignUpModal" class="modal-title">
      <strong>Sign Up</strong>
    </h3>

    <h3 ng-if="!authModal.shouldShowSignUpModal" class="modal-title">
      <strong>Login</strong>
    </h3>
  </div>

  <div class="modal-body">
    <!--Sign Up Modal-->
    <form ng-if="authModal.shouldShowSignUpModal" role="form" id="signUpForm" name="signUpForm" novalidate>
      <div class="form-group" show-input-errors form-submitted="authModal.formSubmitted">
        <label class="control-label" for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username"
               ng-model="authModal.username" ng-pattern="/^[\w\+\-@\.]{1,30}$/" required>

        <span ng-messages="signUpForm.username.$error" ng-messages-multiple ng-if="authModal.formSubmitted">
          <span ng-message="required" class="help-block">Username is required.</span>
          <span ng-message="pattern" class="help-block">Username consists of alphanumeric characters, +, -, @, and . (Max 30 chars).</span>
        </span>
      </div>

      <div class="form-group" show-input-errors form-submitted="authModal.formSubmitted">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name"
               ng-model="authModal.firstName" ng-maxlength="30">

        <span ng-messages="signUpForm.firstname.$error" ng-if="authModal.formSubmitted">
          <span ng-message="maxlength" class="help-block">Your name cannot exceed 30 characters.</span>
        </span>
      </div>

      <div class="form-group" show-input-errors form-submitted="authModal.formSubmitted">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name"
               ng-model="authModal.lastName" ng-maxlength="30">

        <span ng-messages="signUpForm.lastname.$error" ng-if="authModal.formSubmitted">
          <span ng-message="maxlength" class="help-block">Your name cannot exceed 30 characters.</span>
        </span>
      </div>

      <div class="form-group" show-input-errors form-submitted="authModal.formSubmitted">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="authModal.email"
               required>

        <span ng-messages="signUpForm.email.$error" ng-if="authModal.formSubmitted">
          <span ng-message="required" class="help-block">E-mail is required.</span>
        </span>
      </div>

      <div class="form-group" show-input-errors form-submitted="authModal.formSubmitted">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password"
               ng-model="authModal.password" required>

        <span ng-messages="signUpForm.password.$error" ng-if="authModal.formSubmitted">
          <span ng-message="required" class="help-block">Password is required.</span>
        </span>
      </div>

      <button type="submit" class="right btn btn-primary"
              ng-click="authModal.formSubmitted = true; signUpForm.$valid && authModal.signUp()">Sign Up
      </button>
      <button type="submit" class="right btn btn-default" ng-click="authModal.cancel()">Cancel</button>
    </form>

    <!--Login Modal-->
    <form ng-if="!authModal.shouldShowSignUpModal" role="form" id="loginForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username"
               ng-model="authModal.username">
      </div>
      <div class="form-group">
        <label for="input-password">Password <a ng-href="/sessions/forgot_password">(forgot password)</a></label>
        <input type="password" class="form-control" id="input-password" placeholder="Password"
               ng-model="authModal.password">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="authModal.login()">Login</button>
      <button type="submit" class="right btn btn-default" ng-click="authModal.cancel()">Cancel</button>
    </form>
  </div>
</div>
